body{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.links{
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 10px;
}

li{
    width: fit-content;
    font-size: small;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #1f2937;
    gap: 2%;
    padding: 10%;
    padding-top: 5%;
}

.placeholder{
    height: 100px;
    width: 400px;
    background-color: darkgrey;
    text-align: center;
    line-height: 100px;
    color: white;
    flex: 1;
}

.left-align-vert-flex h2{
    margin: 0;
}

.left-align-vert-flex{
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    justify-content: space-around;
}

.left-align-vert-flex *{
    flex: 1;
}

.left-align-vert-flex button{
    margin-right: 70%;
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 1%;
}

