body{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.links{
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 10px;
}

li{
    width: fit-content;
    font-size: small;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #1f2937;
    gap: 2%;
    padding: 10%;
    padding-top: 5%;
}

.placeholder{
    height: 100px;
    width: 400px;
    background-color: darkgrey;
    text-align: center;
    line-height: 100px;
    color: white;
    flex: 1;
}

.left-align-vert-flex h2{
    margin: 0;
}

.left-align-vert-flex{
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    justify-content: space-around;
}

.left-align-vert-flex *{
    flex: 1;
}

.left-align-vert-flex button{
    margin-right: 70%;
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 1%;
    border-radius: 5px;
}

.left-align-vert-flex p{
    font-size: small;
    margin: 0%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    border: solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    gap: 5%;
}

.card{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.card p{
    font-size: small;
    text-align: center;
    width: 100px;
}

.card-section h3{
    font-size: larger;
}

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 15% ;
}

.quote-section *{
    margin: 0%;
}

.citation{
    align-self: flex-end;
    font-weight: bold;
}

.quote{
    font-style: italic;
}

.call-to-action-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    margin: 0;
    margin-right: auto;
}

.call-to-action-box *{
    margin: 0%;
    color:white;
}

/*.call-to-action-box*/

.call-to-action-section{
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    margin: 5%;
    width: 70%;
    align-items: center;
    padding: 20px 60px;
}

.call-to-action-section button{
    background-color: transparent;
    border-color: #e5e7eb;
    box-shadow: none;
    color: white;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
}

.footer{
    background-color: #1f2937;
    margin: 0;
    color: white;
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

.footer *{
    margin: 0%;
    font-size: x-small;
}