body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 10px;
}

.links{
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 10px;
}

li{
    width: fit-content;
    font-size: small;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.placeholder

